.container{
    margin: 5% 20%;
    text-align: center;
}

.link{
    text-decoration: none;
}

.main-text{
    font-size: 24px;
}

.new-game, .timer-game, .records {
    font-size: 24px;
    color: black;
    display: block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
}